<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sharia.presentersbuddy" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/logos"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".Slides"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".Timer2"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".HelpActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <provider android:name="BuddyProvider"
            android:authorities="com.example.sharia.presentersbuddy.BuddyProv">
        </provider>
    </application>
    <uses-permission android:name="android.permission.VIBRATE"/>
</manifest>
